html {
  box-sizing: border-box;
  min-height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    font-weight: 600;
}
a:hover {
    color: rgba(255, 255, 255, 0.93);
}

body {
    text-align: center;
    font-family: -apple-system, sans-serif;
    font-size: 18px;
    color: white;
    text-shadow: 0 1px 1px RGB(81, 149, 72);
    background-color: RGB(136, 196, 37);
    background-image: radial-gradient(circle 600px at 45% 170px, #BCE555 0%, RGB(136, 196, 37) 100%);
    padding: 50px 0 30px 0;
}

button, input {
    font-family: -apple-system, sans-serif;
}

h1 {
    margin: 20px 0 40px 0;
    font-size: 100px;
    font-family: Lobster, "giddyup-std", cursive;
    text-shadow: 3px 4px 0 RGB(81, 149, 72);
}

h1.index {
    text-transform: lowercase;
}

p.subtitle {
    font-family: "giddyup-std", cursive;
    font-size: 48px;
    text-shadow: 2px 2px 0 RGB(81, 149, 72);
    opacity: 0.95;
}

.gradient-rect {
    background-color: transparent !important;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.75)) !important;
    color: RGB(81, 149, 72);
    border: 0;
    outline: none;
    border-radius: 12px;
    box-shadow: 1px 1px 3px RGBA(81, 149, 72, 0.5);
    text-shadow: 1px 1px 0 white;
}
.gradient-rect.lighter {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.8));
}
.gradient-rect[disabled] {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4)) !important;
    opacity: 0.7;
}
.gradient-rect[disabled]:active {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4)) !important;
    opacity: 0.7;
}

button {
    cursor: pointer;
    width: 320px;
    height: 80px;
    font-size: 32px;
}
button.gradient-rect:active {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.65)) !important;
}

.font-name {
    margin-top: 80px;
}

.font-name input {
    width: 320px;
    height: 80px;
    font-size: 32px;
    padding: 0 40px;
    text-align: center;
}
*::-webkit-input-placeholder {
    color: RGBA(81, 149, 72, 0.4);
    text-shadow: none;
}
*::-moz-placeholder {
    color: RGBA(81, 149, 72, 0.4);
    text-shadow: none;
}

.upload {
    margin-top: 60px;
}

.upload .dropzone {
    width: 320px;
    margin: auto;
    border: 0;
    background-color: transparent;
}

.upload .dz-message {
    font-size: 32px;
    margin: 20px 0 !important;
}
.upload .dz-preview {
    background-color: transparent !important;
}
.upload .dz-progress {
    top: 80% !important;
}

.alert {
    font-weight: bold;
    color: rgb(255, 235, 45);
}

.use-font {
    margin-top: 48px;
}
.use-font .subtitle {
    margin-bottom: 0;
}
textarea::-webkit-input-placeholder {
    color: RGBA(81, 149, 72, 0.5);
}
textarea::-moz-placeholder {
    color: RGBA(81, 149, 72, 0.5);
}

pre, textarea {
    text-align: left;
    width: 480px;
    margin: auto;
    border-radius: 20px;
    padding: 16px 24px;
    background-color: white;
    color: RGB(27, 103, 107);
    text-shadow: none;
    box-shadow: 2px 3px 0 RGB(81, 149, 72);
}
pre {
    overflow-x: scroll;
}

footer {
    margin-top: 40px;
}
footer p {
    margin: 6px 0;
}

@media only screen and (max-device-width: 480px) {
    body {
        padding: 10px 0 20px 0;
        background-image: radial-gradient(circle 300px at 30% 100px, #BCE555 0%, RGB(136, 196, 37) 100%);
    }
    h1 {
        font-size: 72px;
    }
    p.subtitle {
        font-size: 28px;
    }
    pre, textarea {
        max-width: 100%;
    }
}
