h1 {
	text-align: center;
	margin-bottom: 35px;
}

table {
	border-spacing: 0px;
	border-collapse: collapse;
	border: 2px solid black;
}

th, td {
	border: 1px solid black;
	padding: 5px;
}

.char-cell {
	height: 60px;
	width: 60px;
	position: relative;
}

.ref-line-top, .ref-line-bottom {
	position: absolute;
	width: 100%;
	border-bottom: 2px solid #ccc;
}

.ref-line-top {
	top: 15px;
}

.ref-line-bottom {
	top: 45px;
}

.empty {
	height: 30px;
}

.sample-char {
	color: #ccc;
	font-family: Georgia;
	font-style: italic;
	text-align: center;
	font-size: 60px;
	line-height: 50px;
}

.anchor {
	content: "";
	background-color: black;
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.upper {
	top: 0px;
	left: 0px;
}

.lower {
	bottom: 0px;
	right: 0px;
}

.wrapper {
	display: inline-block;
	position: relative;
	padding: 15px;
}
