{% extends "base.html" %}
{% block title %}Fontify - Your font is ready to use!{% endblock %}

{% block body %}
<h1>Cheers!</h1>
<p id="ready-to-use" class="subtitle">Your font is ready to use!</p>
<a href="/download/{{ key }}/fontify.ttf"><button class="gradient-rect">download .ttf file</button></a>

<!-- 
<p style="margin-top: 20px;">Send via email</p>
<style type="text/css">
#email-form {
    position: relative;
    width: 360px;
    margin: auto;
}
#email {
    border: none;
    outline: none;
    height: 32px;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 20px;
    color: RGB(81, 149, 72);
    
    position: absolute;
    top: 2px;
    left: 0;
}
#email-submit {
    border: none;
    outline: none;
    height: 32px;
    border-radius: 4px;
    padding: 5px 14px;
    font-size: 14px;
    margin-bottom: 2px;

    position: absolute;
    top: 2px;
    right: 0;
}
</style>
<form id="email-form" method="POST" action="/email/{{ key }}/fontify.ttf">
    <input id="email" name="email" placeholder="example@gmail.com"></input>
    <input id="email-submit" class="gradient-rect" type="submit" value="Submit">
</form> -->

<style type="text/css">
@font-face {
    font-family: {{ font_name }};
    src: url(/download/{{ key }}/fontify.woff);
}
textarea {
    font-family: {{ font_name }};
    font-size: 24px;
    height: 200px;
}
.playground .subtitle {
    margin-bottom: 10px;
}
</style>

<div class="playground">
    <p class="subtitle">Playground</p>
    <p>See your own font in action!</p>
    <textarea class="gradient-rect lighter" placeholder="I can eat glass, it does not hurt me."></textarea>
</div>


<div class="use-font">
    <p class="subtitle">Use as webfont</p>
    <p>Add the following lines to your CSS:</p>
    <pre class="gradient-rect lighter">@font-face {
  font-family: {{ font_name }};
  src: url(http://fontifyapp.com/download/{{ key }}/fontify.woff);
}

/* Then use {{ font_name }} like this: */
p {
  font-family: {{ font_name }}, sans-serif;
}</pre>
</div>
{% endblock %}
