{% extends "base.html" %}
{% block title %}Fontify - Your font is ready to use!{% endblock %}

{% block body %}
<h1>Cheers!</h1>
<p class="subtitle">Your font is ready to use!</p>
<a href="/download/{{ url }}"><button class="gradient-rect">download .ttf file</button></a>

<div class="use-font">
	<p class="subtitle">Use as webfont</p>
    <p>Add the following lines to your CSS:</p>
    <pre class="gradient-rect lighter">@font-face {
  font-family: FontifySans;
  src: url(http://fontifyapp.com/FontifySans.woff);
}

/* Then use FontifySans like this: */
p {
  font-family: FontifySans, sans-serif;
}</pre>
</div>
{% endblock %}
